<md-content id="Settings" layout="column" layout-align="center center">
  
  <h2>Profile Change</h2>

  <form class="profileChange" novalidate>

    <md-input-container class="fullWidth">
        <label>Email</label>
        <input ng-model="email" type="email" class="md-input ng-touched" required>
    </md-input-container>

    <md-input-container class="fullWidth">
        <label>New Password</label>
        <input ng-model="new_password" type="password" class="md-input ng-touched" required>
    </md-input-container>

    <md-input-container class="fullWidth">
        <label>Password Confirmation</label>
        <input ng-model="confirm_password" type="password" class="md-input ng-touched" required>
    </md-input-container>

    <md-input-container class="fullWidth">
        <label>Previous Password</label>
        <input ng-model="prev_password" type="password" class="md-input ng-touched" required>
    </md-input-container>

    <div layout="row" layout-align="end center">
      <md-button>Update</md-button>
    </div>
  </form>

  <h3>Account Deactivation</h3>

  <form class="button_to" method="post" action="/users">
    <input type="hidden" name="_method" value="delete"/>
    <input data-confirm="Are you sure?" class="md-button btn-danger" type="submit" value="Deactivate Account" />
    <input type="hidden" name="authenticity_token" value="wMgbrz6vqDQSW4E3/gwQhy/LeyFj2Qv/BhSD1KqAAe6ZB3DqI77NtVJuSquP4NYNrK+0HDSF+mxmRhsbkEKVvA==" />
  </form>

</md-content>
