<md-content id="content" ng-controller="WelcomeController as wc" layout="row" layout-align="center center" fullheight>
	<div class="welcomeMsg"layout="column" layout-align"center center">
		<h2>Welcome to DatDough</h2>
		<h4>a place to track your daily finances</h4>
	</div>
</md-content>