<h2>About</h2>

<div class="jumbotron">
  <h1>See the Money!</h1>
  <p class="lead">This project is aimed to help individuals visualize their cash flow over time. Please share with others!</p>
  <p>
    <% unless user_signed_in? %>
      <%= link_to "Sign up here!", new_user_registration_path, class: "btn btn-lg btn-success", role: "button" %>
    <% else %>
      <%= link_to "Donate", donation_path, class: "btn btn-lg btn-success", role: "button"%>
    <% end %>
  </p>
</div>