<md-content id="dashboard" ng-controller="DashboardController as dbc" layout="row" layout-align="center center" fullheight>
	<form name="dbc.expenseForm" novalidate layout="column" layout-align="space-between center" flex="50">
		<md-input-container label="Date" class="fullWidth">
			<label>Date</label>
			<input ng-model="dbc.expense.date" class="md-input ng-touched" type="date" name="date" required>
		</md-input-container>
		<md-input-container label="Amount" class="fullWidth">
			<label>Amount</label>
			<input ng-model="dbc.expense.amount" class="md-input ng-touched" type="number" name="amount" step="0.01" placeholder="9.99" required>
		</md-input-container>
		<md-input-container label="Category" class="fullWidth">
			<label>Category</label>
			<md-select ng-model="dbc.expense.category">
				<md-option ng-value="category" ng-repeat="category in dbc.categories">
				{{category}}</md-option>
			</md-select>
		</md-input-container>
		<md-input-container label="Payment Method" class="fullWidth">
			<label>Payment Method</label>
            <md-select ng-model="dbc.expense.payment_method">
				<md-option ng-value="method" ng-repeat="method in dbc.paymethod">
				{{method}}</md-option>
			</md-select>
		</md-input-container>
		<md-input-container label="Description" class="fullWidth">
			<label>Description</label>
            <input name="description" class="md-input ng-touched" placeholder="Chinese food" ng-model="dbc.expense.description" required></input>
		</md-input-container>

		<div ng-if="dbc.errors">
			<span class="error-msg">{{dbc.errors}}</span>
		</div>

		<div layout="row" layout-align="space-between center">
			<md-button class="md-primary" ng-click="dbc.submit()">Submit</md-button>
			<md-button class="md-primary" ng-click="dbc.cancel()">Cancel</md-button>
		</div>
		
	</form>

</md-content>
