<div ng-controller="GraphController as gc">
	<p>Income</p>
	<nvd3 options="gc.categoryOption" data="gc.income.data"></nvd3>
	<p>Expense</p>
	<nvd3 options="gc.categoryOption" data="gc.expense.data"></nvd3>
</div>