<!--User's Financial Information-->
<md-content id="FinanceStats" class="md-padding" layout="row" layout-align="center start" ng-controller="TableController as tc">
  <div class="tableSection" layout="column" layout-align="start start">

    <div class="md-toolbar-tools" class="fullWidth">
      <h3 ng-hide="tc.showSearch">Transaction History</h3>
      <i  ng-show="tc.showSearch"class="material-icons">search</i>
      <div ng-submit="" layout="row" layout-align="start start" flex>
          <md-input-container ng-show="tc.showSearch"> 
              <label>Search</label>
              <input ng-model="inputSearch" type="text">
          </md-input-container>
      </div>

      <span flex></span>

      <i ng-click="tc.searchToggle()" class="material-icons">filter_list</i>
      <i ng-click="fc.selectView(7)" class="material-icons">add</i>
    </div>
    <h4 ng-hide="tc.expenses.length">No Transactions</h1>
    <mdt-table sortable-columns="true" ng-show="tc.expenses.length" class="tableOfHistory" >
      <mdt-header-row>
        <mdt-column sortable-rows-default>Date</mdt-column>
        <mdt-column sortable-rows-default>Amount</mdt-column>
        <mdt-column sortable-rows-default>Category</mdt-column>
        <mdt-column sortable-rows-default>Description</mdt-column>
        <mdt-column sortable-rows-default>Transaction Type</mdt-column>
        <mdt-column sortable-rows-default>Payment Method</mdt-column>
      </mdt-header-row>

      <mdt-row ng-repeat="expense in tc.expenses | orderBy: ['date','created_at']:true track by $index">
        <mdt-cell>{{expense.date | date: 'MM/dd/yyyy'}}</mdt-cell>
        <mdt-cell>{{expense.amount | currency}}</mdt-cell>
        <mdt-cell>{{expense.category}}</mdt-cell>
        <mdt-cell>{{expense.description | limitTo: 15 }}</mdt-cell>
        <mdt-cell>{{expense.transactionType}}</mdt-cell>
        <mdt-cell>{{expense.paymentMethod}}</mdt-cell>
      </mdt-row>
    </mdt-table>
    <%= image_tag "hex-loader.gif", alt: "Loading...", 'ng-show' => 'tc.loading' %>
  </div>
<md-content>