//DashBoard CSS

#FinanceStats {

	.search-bar {
	  text-decoration: underline;
	  margin-left: 15px;
	  font-style: italic;
	}

	.searchlbl {
		margin-top: 25px;
	}

	.tableSection {
		width: 80%;
	}

	.tableOfHistory{
		width: 100%;
	}

}

#Settings {

	.profileChange {
		width: 40%;
	}

}
