//DashBoard CSS
@import "mixins";

#FinanceStats {

	@include transition(all 0.3s ease);

	i {
		color: rgba(0,0,0,0.4);
		cursor: pointer;

		&:hover {
			color: rgba(0,0,0,1);
		}
	}

	.tableSection {
		width: 80%;
	}

	.tableOfHistory{
		width: 100%;
	}

}

#Settings {

	.profileChange {
		width: 40%;
	}

}
