//Frame CSS
@import "mixins";

#toolbar {
	background: black;
	z-index: 100;
	@include box-shadow(-2px 0px 5px 0px rgba(0,0,0,0.75));

	.logo {
		color: red;
		font-weight:bold;
		cursor: pointer;

		&:hover {
			font-size: 25px;
		}
	}

	.icon-container {
		color: rgba(255,255,255,0.7);
		font-size: 15px;

		.toolbarBtns {
			margin-right: 10px;
			cursor: pointer;

			&:hover {
				color: rgba(255,255,255,1);
			}

		}

	}

}