//Frame CSS

#toolbar {
	background: black;
	z-index: 100;

	.logo {
		color: red;
		font-weight:bold;
		cursor: pointer;

		&:hover {
			font-size: 25px;
		}
	}

	.icon-container {
		color: rgba(255,255,255,0.7);
		font-size: 15px;

		.toolbarBtns {
			margin-right: 10px;
			cursor: pointer;

			&:hover {
				color: rgba(255,255,255,1);
			}

		}

	}

}