<div id="chart">
  <svg></svg>
</div>

<%= link_to "Add transaction", new_expense_path, class: "btn btn-success btn-lg btn-block", style: "margin-bottom: 20px;" %>

<table class="table table-striped">
  <thead>
    <tr class="title" >
      <th style="text-align:center;">Date</th>
      <th style="text-align:right;">&nbsp;&nbsp;&nbsp;&nbsp;Amount</th>
      <th class="hidden-xs">Category</th>
      <th>Description</th>
      <th class="hidden-xs">Transaction type</th>
      <th class="hidden-xs">Payment method</th>
      <th style="text-align:center;">Delete</th>
    </tr>
  </thead>
  <tbody id="transactions">
    <%= render partial: "expenses", object: @expenses %>
  </tbody>
</table>

<div id="ajax-loading">
  <div id="dummy"></div>
  <div id="img-container">
    <%= image_tag 'ajax-loader.gif' %>
  </div>
</div>

<div class="hidden-xs" id="infinite-scrolling">
  <%= will_paginate %>
</div>
<style>
tr:hover td { background-color:#ADD8E6 }

#chart svg {
  height: 400px;
}

#infinite-scrolling  {
    width: 50%;
    margin: 0 auto;
}

#dummy {
    padding-top: 80px; /* forces 1:1 aspect ratio */
}

#ajax-loading{
  /*display: none;*/
  position: relative;
  width: 100%;
}

#img-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;  /*Align center inline elements */
  /*display:inline;*/
}
</style>